@import "/function.less";
@import "/widget/loading-state.less";
@import "/animation/road-runner.less";

body {
	background: url(../../img/site/gradient.png) repeat 50% 50%;
}

section {
	width: 400px;
	margin: 10px auto; padding: 20px;
	border-radius: 4px;
	background: #FFF;
}

.font {
	
}