extends /frame

block posthead
	title Demo project
	link(rel="stylesheet" href="resource/css/site/index.css")

block main
	section
		h1 Demo project
		p Jade & LESS outputs are directly visible.
	section
		h2 Common loading state imported through base64
		.ui-load-state.on-loading: .switch-loading: .icon-more
	section
		h2 JS logics
		div
			button#alert Direct
			button#ajax Browserified
	section
		h2 SVG
	section
		h2 Project sprites
			small (from Famfamfam)
	section
		h2 Project sprites w/ @2x
			small (from the noun project)
	section.font
		h2 Subfonts
			small (from http://www.makefont.com/)
			

append final
	script(src="resource/js/site/index.js")
	script(src="resource/js/bundle/index.js")