extends /frame

block posthead
	title Demo project
	link(rel="stylesheet" href="resource/css/site/index.css")

block main
	section
		h1 Demo project
		p Jade & LESS compile outputs are directly visible.
	section
		h2 Common loading state imported through base64
		.ui-load-state.on-loading: .switch-loading: .icon-more
	section
		h2 JS logics
		div
			button#alert Direct
			button#ajax Browserified
	section
		h2 SVG
			small (from the noun project)
	section
		h2 Project sprites
			small (from Famfamfam)
		.wrap-application
			.s-application_xp_terminal.SF
			.s-application_go.SF
		.wrap-desktop
			.s-book_open.SF
			.s-book_add.SF
	section
		h2 Project sprites w/ @2x
			small (from the noun project)
		.wrap-wap
			.s-human.SF
	section.font
		h2 Subfonts
			small (from http://www.makefont.com/)
		p
			strong 造字工房字体
		p 无授权，请勿用于商业用途

append final
	script(src="resource/js/site/index.js")
	script(src="resource/js/bundle/index.js")